<div class="container">
  <button type="button" ng-click="main.write()">write()</button>
  {{main.written}}
  <br>
  <button type="button" ng-click="main.read()">read()</button>
  {{main.readed}}
  <br>
  <button type="button" ng-click="">init()</button>
  <button type="button" ng-click="main.clearStorageContent()">clear()</button>
  <button type="button" ng-click="main.listStorageContent()">list()</button>
  <br>
  Number of boxes (26 max): {{main.boxes.length}}
  <button type="button" ng-click="main.add()">Add</button>
  <button type="button" ng-click="main.subtract()">Remove</button>
<!--// cpc-drag-n-drop-->
  <div class="columns" id="columns1" ng-repeat="value in main.boxes">
    <div x-cpc-drag-n-drop manager="main.dragNDropManager" class="column" draggable="true">
      <div class="header">{{value.body}}</div>
      <uuid>{{value.uuid}}</uuid>
    </div>
  </div>
</div>
